html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
	flex: 1;
    background-color: lightgray;
    color: black;
    padding: 20px;
}	
.main{
    text-align: center;
    padding: 2%;
    margin: 2%;
}
#inserimento{
	flex: 1;
	justify-content: center;
	align-items: center;
}
.footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-top: auto;
}

.footer-content {
    text-align: center;
}

.image-form {
	display: none;
}

.categories-form {
	display: none;
}

.error-statement{
	color: #ff4d4d;
	text-align: center;
}

img {
  max-width: 30%;
  object-fit: contain; /* Adatta l'immagine al div senza distorcerla */
}

.type-col{
	display: none !important;
}

#insert-product-form{
	text-align: center;
}

.box-list {
  border: 1px solid gray;
  border-radius: 10px;
}

.dropdown {
  position: relative;
}

#search-user-input {
  width: 100%;
  max-width: 150px;
  padding: 10px 2%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#search-user-suggestions {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 170px;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    display: none;
  }

#search-user-suggestions li {
  padding: 10px;
  cursor: pointer;
}

#search-user-suggestions li:hover {
  background-color: #f9f9f9;
}

#search-user-suggestions li.selected {
  background-color: #f1f1f1;
}

#search-user-submit {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-user-submit:hover {
  background-color: #3367d6;
}

/* Stile del label */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.box-list {
  border: 1px solid gray;
  border-radius: 10px;
}

.user-list {
  list-style: none;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-color: #F2F2F2;
  margin: 0 30%;
}

.user-list li {
  padding: 5%;
}

.user-list li:last-child {
  border-bottom: none;
}

.user-list li:before {
  margin-right: 10px;
}

.no-users {
  font-style: italic;
  color: #999;
}

.complete-name {
  color: #888;
  font-weight: 100;
  font-family: "Roboto Thin", "Helvetica Neue Thin", Arial, sans-serif;
  font-size: 12px; /* Riduci la grandezza del font */
}

.login-form{
	padding-left: 20px;
	margin-bottom: 100px;
	margin-top: 50px;
	display: block;
}

.login-form,
.registrationForm,
.cambioIva {
	background-color: white;
	color: black;
	border-radius: 10px;
    padding: 10%;
}
#login-form input,
#registration-form input,
#cards-form input{
	margin: 2%;
}

nav span {
  margin: 10px;
}

.table-container{
  text-align: center;
  padding: 5%;
  /*margin: 2%;*/
  /*opacity: 0.9;*/
  border-radius: 10px;
  background-color: white;
}

#footerElements{
	background-color: black;
	color: white;
}

.table-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
.table-cell {
    flex: 1;
    padding: 0 10px;
    word-wrap: break-word;
 }
 .modern-button {
  display: inline-block;
  border: none;
  background-color: off-white;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 2%;
}
.modern-button:hover {
  background-color: white;
}
/*
  stile per il tag a appartenente a questa classe.
  serve per dare al tag l'aspetto di un pulsante
*/
.modern-a,
.redbutton-a{
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 1%;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove default link underline */
}
.modern-a{
  background-color: darkgray;
  color: black;
}
.modern-a:hover {
  background-color: white;
}

.redbutton-a{
  background-color: red;
  color: white;
}
.redbutton-a:hover{
  background-color: darkred;
}

select {
  appearance: none;
  padding: 10px 15px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  background-color: #C5C6D0;;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
#choise-type{
	margin: 2%;
}

select:hover {
  background-color:#9897A9;;
}

select:focus {
  outline: none;
  background-color: #9897A9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select:blur {
  outline: none;
  background-color: #C5C6D0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
input, textarea {
  width: 200px;
  padding: 1%;
  margin-bottom: 15px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
}

input:focus, textarea:focus,
input:active, textarea:active {
  outline: none;
  border-color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="color"] {
  padding: 4px;
  width: 50px;
  height: 50px;
  border: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

input[type="color"]:hover {
  background-color: #e6e6e6;
}

input[type="color"]:focus {
  outline: none;
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}	

input[type="date"]::-webkit-datetime-edit {
  color: #888;
  font-family: "Arial", sans-serif;
  font-style: italic;
}
input[type="submit"]{
  width: 100%;
  max-width: 100px;
}

#myFileInput {
  display: none;
}

#fileNameLabel {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
}

 textarea{
    resize: none;
    height: 200px;
 }

.menu {
  position: fixed;
  top: 0;
  width: 200px;
  max-width: 100%;
  height: 250px;
  left: -200px; 
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: flex;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.closeButton a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 30% 0;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}

.menu li {
  margin: 10px 0;
  font-size: 13px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

header {
	background-color: #333;
	color: #fff;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}
#menuButton {
	display: flex;
	align-items: center;
	margin-right: 20px;
	cursor: pointer;
}

.icon-menu {
	display: block;
	width: 20px;
	height: 20px;
	fill: #fff;
}

.icon-menu path {
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	transition: stroke-dasharray 0.3s ease-in-out;
}

.icon-menu:hover path {
	stroke-dasharray: 20 40;
}
		
ul li, .closemenù{
	z-index: 100px;
}
		
.no-border{
  border-bottom: none;
}	

#product-details{
	padding: 6px 9px;
}	

.label-responsive{
	display: none;
	font-style: italic;
	padding-right: 10px;
}
.th{
	font-weight: bold;
}
#data-insert{
	margin-bottom: 50px;
	display: block;
}

label[for="label-date"] {
  margin-right: 5px;
}

.images-block {
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.images-block img{
  max-width: 400px;
  max-height: 100%;
  object-fit: contain; /* Adatta l'immagine al div senza distorcerla */
  width: 100%;
}

.cycle-slideshow {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  overflow: hidden; /* Impedisce alle immagini di uscire dal div */
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.cycle-slideshow img {
  max-height: 100%;
  object-fit: contain; /* Adatta l'immagine al div senza distorcerla */
}

.cycle-slideshow .prev,
.cycle-slideshow .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-style: bolder;
  color: white;
  color: lightgrey;
  padding: 10px;
  text-decoration: none;
  z-index: 150; /* Imposta un valore di z-index superiore rispetto alle immagini */
  border-radius: 50%; /* Rendi le frecce arrotondate */
  width: 40px; /* Imposta la larghezza desiderata per le frecce */
  height: 40px; /* Imposta l'altezza desiderata per le frecce */
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev {
  left: 0;
}

.next {
  right: 0
}
.delete-block{
	margin-top: 60px;
}

/* Personalizza la barra di scorrimento verticale */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Personalizza la barra di scorrimento orizzontale */
::-webkit-scrollbar-horizontal {
  height: 10px;
}

::-webkit-scrollbar-track-horizontal {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb-horizontal {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb-horizontal:hover {
  background-color: #555;
}

#image-table{
	  display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.only-image{
	display: block;
}
.delete-button{
	margin-top: 50px;
}
		
@media screen and (max-width: 1100px) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}
	#menuButton {
		margin-right: 0;
	}
	.label-responsive{
	   display: inline;
       margin-bottom:5px;
    }
	.content{
		flex: 1;
		color: black;
		padding: 20px;
	}	
	.table-container {
      padding: 5%;
      display: flex;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
	#image-table{
	   text-align: center;
	}
	#inserimento,
	#footerElements{
		text-align: center;
	}
	.table-row
	 {
	    display: block;
	 	text-align: left;	
	 	justify-content: center;
        align-items: center;
	 	padding: 10px 0;
	 	width: 100%;
	 	max-width: 400px;
	 }
	 .th{
	  display: none;	
	 }
	 .table-cell {
	 	flex: 1;
	 	padding: 0 10px;
	 	margin-bottom: 15px;
	 	display: block;
	}
	.product-container {
	    display: block;
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	    width: 95%;
	    margin: 2%;
	}
	#choise-table, .everycenter{
	   text-align: center;
	}
}

@media screen and (max-width: 470px) {
	body{
	  font-size: 12px;
	}
	h2, h3, h1{
	   font-size: 15px;
	}
	
	label, #myFileLabel{
	   font-size: 10px;	   
	}
	
	.modern-button, input[type='submit'],
	.redbutton-a, #search-user-submit{
	   font-size: 10px;	
	   width: 58px;
	   height: 100%;
	   padding: 10px;
	   overflow: auto;
	}
	.modern-a{
	    font-size: 10px;
	    width: 40px;
	}
	input, textarea{
	   width: 80%;
	}
	.user-list {
	   margin: 0;
	}
	.table-container {
      display: block;
      width: auto;
    }
    .table-row{
      width: 100%;
    }
    .images-block{
       height: auto;
    }

}

@media screen and (max-width: 270px) {
	select{
	   font-size: 11px;
	   width: 100%;
	}
}

@media screen and (max-width: 182px) {
	#fileNameLabel{
	   font-size: 12px;
       width: 75%;
	}
}