* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/*header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* Add additional styles to the header as needed */


body{
	background-image: url("background_home.jpg");
	background-size: cover;
  	background-attachment: fixed;
	height: 100%; /* You must set a specified height */
	font-family: "Montserrat", Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  	padding: 0;
  	position: relative;
}	

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
	padding-bottom: 110px;
	margin-top: 30px;
	position: relative;
  	width: 100%;
	
} 

#card-form{
	text-align:center;
}

.product-no-available{
	color: red;
}

.filter-form{
	 width: 360px;
	 border: 1px solid gray;
	 clear: left;
}

.voci-navbar {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.voci-navbar li {
    display: inline;
    margin-right: 10px; /* Puoi regolare la distanza tra gli elementi li con un margine destro */
}

/* prima parte dell'header */

.search-products{
	display: inline;
}

 nav {
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    padding-bottom: 8px;
}

.first-header{
	background-color: #4F4F4F;
	position: sticky;
	margin-bottom: 7%;    /*utilizzato perchè gli elementi venivano posizionati sotto second-header*/
	height: 70px;
}	

.search-products,
.voci-navbar {
    display: inline-block;
    vertical-align: middle;
}

.search-products{
	margin-top: 5px;
	margin-right: 5px;
}

.text-white{
	color: white;
}

#tipo-articolo {
	margin-top: 0;
	margin-bottom: 5px;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

#catena-links span,
#catena-links a {
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

.second-header{
	text-align: center;
	background-color: darkgray;
	padding-bottom: 2px;
	margin-bottom: 20px;
	position: sticky;
	z-index: -1;
}

.second-header h5{
	padding: 10px;
	margin-bottom: 5px;
	text-align: left;
}

.error-statement{
	color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.search-product-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-product-input:focus {
  box-shadow: none;
}

.search-product-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  display: none;
}

.search-product-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.search-product-suggestions li:hover {
  background-color: darkgray;
}

.search-product-submit, .addtocart-submit {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
  box-shadow: none;
}

.search-product-submit:hover {
   background-color: darkgray;
   color: white;
}

/* Stile del label */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.text-footer{
	position: absolute;
	top: 0;
	left: 0;
    display: inline;
    margin-left: 25px;
    margin-top: 10px;
}

.text-footer h1{
    margin-top: 10px;
}


.artby {
	position: absolute;
	text-align: left;
	bottom: 0;
	right: 0;
	margin-right: 15px;
	margin-bottom: 12px;
}

.firme{
	padding-bottom: 5px;
}

a.text-white{
	text-decoration: none;
}

.search-products{
	position: absolute;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

#number-of-items{
	font-size: 10px;
}

#sort-span, 
#link-to-order{
	font-size: 14px;
}

#title-cart{
	margin-right: 10px;
}

.item-in-cart{
	border: 1px solid #ddd;
	border-bottom: none;
}

.image-block{
  margin-top:15px;
  margin-left: 5px;
  border: 1px solid #ccc;
}

.image-block img {
   width: 80px; 
   height: 80px;
}

.name-item-block, 
.marca-item-block,
.prezzo-item-block,
.image-block, 
.delete-item-block{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.delete-item-block{
	float: right;
}

.add-quantity {
  display: inline-block;
  vertical-align: middle;
}

.bottom-cart{
	border-top: 1px solid #ccc;
}

.total-price{	  
	  padding: 15px;
	  display: inline-block;
}

.buy-block{
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;
}

.add-quantity .input-number{
	width: 35px;
}

.delete-item-block{
	margin-left: 10px;
	font-size: 12px;
	margin-bottom: 10px;
}

.login-form{
	padding-left: 20px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.main{
  text-align: center; /* Center the elements within the container */
  display: flex;
  width: 100%; /* Set full-width to expand the whole page */
}
  
.main-element{
  display: inline-block;
  margin: 50px;
  flex: 1;
  padding-top: 10%;
  border-radius: 25px;
  border: 1px solid gray;
  background-color: white;
  opacity: .9;
}

.main-element p{
	border-radius: 25px;
	padding: 10%;
	background-color: lightgray;
}

.main-body h1{
	position: relative;
  padding: 5%;
  text-align: center;
  background-color: #7193c9;
  margin: 5%;
  border-radius: 25px;
  background-color: white;
  opacity: .9;
  
}
.list-products{
	display: flex;
  margin: 10%;
	margin-top: 25%;
	margin-bottom: 25%;
}
.catalogo-items{
	flex: 1;
	padding: 16px;
	background-color: white;
	width: 30%;
	opacity: .9;
	text-align: center;
}

.catalogo h1{
	padding: 5%;
	text-align: center;
	color: white;
}

.categorie h1{
	color: white;
	text-align: center;
	padding: 1%;
}

.addtocart-submit{
	margin: 10px;
}

.image-item img{
	margin: 20px;
	width: 30%;
}

.main-element h1{
	padding: 10%;
	text-align: center;	
	color: black;
}	

.categorie{
	margin: 5%;
	flex: 1;
	padding-top: 5%;
	border-radius: 25px;
 	background-color: #7c878a;
	opacity: .9;
}

.user-field{
	border-radius: 25px;
	padding: 5%;
	margin: 5%;
	background-color: lightgray;
}

.utente{
	display: inline-block;
	margin: 50px;
	flex: 1;
	padding-top: 5%;
	border-radius: 25px;
 	background-color: #7c878a;
	opacity: .9;
}

.utente p{
	border-radius: 25px;
	background-color: lightgray;
	text-align: center;
}

.utente h1{
	text-align: center;	
	color: black;
}	

.main-utente{
	text-align: center; /* Center the elements within the container */
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.utente,
.utente p h1{
	width: 50%; /* Adjust the width as needed */
  	margin-left: 30%; 
  	margin-right: 30%; 
}

.images-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 500px;
  height: 500px;
}

.cycle-slideshow{
  position: relative;
  background-color: white;
  width: 90%;
  height: 90%;
}

.slice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150; /* Imposta un valore di z-index superiore rispetto alle immagini */
}

.cycle-slideshow .prev,
.cycle-slideshow .next,
.cycle-slideshow2 .prev,
.cycle-slideshow2 .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-style: bolder;
  color: white;
  color: lightgrey;
  padding: 10px;
  text-decoration: none;
  z-index: 150; /* Imposta un valore di z-index superiore rispetto alle immagini */
  border-radius: 50%; /* Rendi le frecce arrotondate */
  width: 40px; /* Imposta la larghezza desiderata per le frecce */
  height: 40px; /* Imposta l'altezza desiderata per le frecce */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.cycle-slideshow .prev {
  right: 180px;
}

.cycle-slideshow .next {
  left: 180px;
}

.cycle-slideshow img {
  max-width: 100%;
  max-height: 100%;
  padding: 20%;
}

.acquisti-details, .artDetails{
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  padding: 2%;
  border: 1px solid lightgrey;
}

.artDetails{
	border-top: none;
}

.first-block, 
.second-block, 
.terzo-block {
  display: inline-block;
}

.first-block{
	width: 40%
}

.second-block{
    width: 30%	
}

.terzo-block{
	width: 15%
}

.cycle-slideshow2 img {
  width: 100px;
  height: 100px;
}

.cycle-slideshow2, .text {
  display: inline-block;
}

.login-main{
	display: flex;
  margin-left: 20%;
  margin-right: 20%;
  flex: 1;
  padding-top: 10%;
  border-radius: 25px;
  background-color: white;
  opacity: .9;
  text-align: center;
}

/*
  tags relativi alla pagina orderList.jsp
  e alla tabella nella pagina cardsPage.jsp
  - tags sulla tabella contenente gli ordini
*/
.table-container{

}

.table-acquisti{

}

.table-header{

}

.table-row{

}
/*
  elementi della tabella 
*/
.address{

}

.date-id{

}

.no-acquisti{

}

.no-cards{
  
}