html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
	flex: 1;
    background-image: url("background_home.jpg");
    background-size: cover;
  	background-attachment: fixed;
    opacity: 0.9;
    /*background-color: white;*/
    color: black;
    padding: 20px;
}	
.main{
    text-align: center;
    color: white;
    padding: 2%;
    /*margin: 2%;*/
    border-radius: 25px;
}
.main h1{
	margin: 5%;
}
/*
	tags relativi all'header
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #f2f2f2;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left div {
    margin-right: 10px;
}
.text-white{
	color: black;
}

.header-center img {
    padding: 1%;
    max-width: 200px;
}

.voci-navbar {
    display: inline-block;
    vertical-align: middle;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.search-product-input,
.add-Phone-number,
#inputText {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-product-input:focus {
  box-shadow: none;
}

.search-product-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  display: none;	
}

.search-product-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.search-product-suggestions li:hover {
  background-color: darkgray;
}

.search-product-submit, 
.addtocart-submit {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: lightgray;
  box-shadow: none;
}

.addtocart-submit{
	background-color: white;
}
#details-addtocart{
	background-color: lightgray;
}

.search-product-submit:hover,
.addtocart-submit:hover {
   background-color: darkgray;
   color: white;
}
.search-products{
	display: inline;
}
.search-products{
	position: absolute;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

nav {
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    padding-bottom: 8px;
}

/*
	second-header
*/

.visited-pages-header {
	background-color: black;
   	height: 20px;
}

.visited-pages-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#catena-links{
	text-align: center;
	display: -webkit-flex;
}

#catena-links span,
#catena-links a {
    color: white;
}
/*
	footer classes
*/
.footer {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-top: auto;
}

.footer-content {
    text-align: center;
}

#card-form{
	text-align:center;
}

.product-no-available{
	color: red;
}

.filter-form{
	 background-color: white;
	 color: black;
	 border-radius: 10px;
	 clear: left;
	 padding: 1%;
	 margin: 1%;
}

.voci-navbar {
  list-style-type: none;
  text-align: left;
  padding: 10px;
  width: 30%;
}

.voci-navbar li {
    display: inline;
    margin-right: 10px; /* Puoi regolare la distanza tra gli elementi li con un margine destro */
}

#tipo-articolo {
	margin-top: 0;
	margin-bottom: 5px;
	color: white;
	padding-left: 10px;
	padding-top: 10px;
}

.error-statement{
	color: red;
}

/* Stile del label */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.firme{
	padding-bottom: 5px;
}

a.text-white{
	text-decoration: none;
}

.search-products{
	position: absolute;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

#number-of-items{
	font-size: 10px;
}

#sort-span, 
#link-to-order{
	font-size: 14px;
}

.item-in-cart{
	background-color: white;
	opacity: 0.8;
	border-bottom: none;
}

.image-block{
	display: inline-block;
  	/*margin-top:15px;
 	margin-left: 5px;*/
}

.image-block img {
   width: 50%;
}

.name-item-block, 
.marca-item-block,
.prezzo-item-block,
.image-block, 
.delete-item-block{
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.delete-item-block{
	float: right;
}

.add-quantity {
  display: inline-block;
  vertical-align: middle;
}

.bottom-cart{
	border-top: 1px solid #ccc;
}

.total-price{	  
	  padding: 15px;
	  display: inline-block;
}

.buy-block{
	display: inline-block;
	margin-right: 15px;
	margin-top: 15px;
}

.add-quantity .input-number{
	width: 35px;
}

.delete-item-block{
	margin-left: 10px;
	font-size: 12px;
	margin-bottom: 10px;
}

.login-form{
	padding-left: 20px;
	margin-bottom: 100px;
	margin-top: 50px;
}
/*
	tags e classi relative al dettaglio prodotto
*/
#product-details{
	text-align: left;
}
.product-element{
	margin: 5%;
}
.dettaglio-prodotto{
	background-color: white;
	color: black;
	max-width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	border-radius: 25px;
}

.images-block {
	width: 70%;
	background-color: black;
	border-radius: 25px;
	padding: 2%;
}

.cycle-slideshow{
  position: relative;
  background-color: white;
  width: 90%;
  height: 90%;
}

.slice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150; /* Imposta un valore di z-index superiore rispetto alle immagini */
}

.cycle-slideshow .prev,
.cycle-slideshow .next,
.cycle-slideshow2 .prev,
.cycle-slideshow2 .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-style: bolder;
  color: white;
  color: lightgrey;
  padding: 10px;
  text-decoration: none;
  z-index: 150; /* Imposta un valore di z-index superiore rispetto alle immagini */
  border-radius: 50%; /* Rendi le frecce arrotondate */
  width: 40px; /* Imposta la larghezza desiderata per le frecce */
  height: 40px; /* Imposta l'altezza desiderata per le frecce */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.cycle-slideshow .prev {
  right: 180px;
}

.cycle-slideshow .next {
  left: 180px;
}

.cycle-slideshow img {
  max-width: 100%;
  max-height: 100%;
  padding: 20%;
}

.acquisti-details, 
.artDetails{
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  padding: 2%;
  border: 1px solid lightgrey;
}
#details-addtocart{
	margin: 10%;
}
.artDetails{
	border-top: none;
}

.first-block, 
.second-block, 
.terzo-block {
  display: inline-block;
}

.first-block{
	width: 40%
}

.second-block{
    width: 30%	
}

.terzo-block{
	width: 15%
}

.cycle-slideshow2 img {
  width: 100px;
  height: 100px;
}

.cycle-slideshow2, .text {
  display: inline-block;
}
/*

*/

.login-main{
	display: flex;
  	margin-left: 20%;
  	margin-right: 20%;
  	flex: 1;
 	padding-top: 10%;
  	border-radius: 25px;
  	background-color: white;
  	opacity: .9;
  	text-align: center;
}

/*
	tags e classi relative al catalogo
*/
.products-list{
	background-color: white;
	border-radius: 10px;
	padding: 3%;
}
.list-products{
	display: inline-block;
}

.product-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    background-color: lightgray;
}

.product-image {
    max-width: 100%;
    max-height: 150px;
    margin-top: 10px;
    opacity: 1;
}

.product-name {
    margin: 10px 0;
}

.product-price {
    margin-bottom: 10px;
}
/*
  tags relativi alla pagina orderList.jsp
  e alla tabella nella pagina cardsPage.jsp
  - tags sulla tabella contenente gli ordini
*/
.table-container{
  text-align: center;
  padding: 5%;
  /*margin: 2%;*/
  /*opacity: 0.9;*/
  border-radius: 10px;
}

.table-row,
.table-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
.table-cell {
    flex: 1;
    padding: 0 10px;
  }
  
/*
	modifiche della tabella relative all'ID categorie
*/
#categorie{
	text-align: center;
	color: black;
	background-color: white;
}
/*
	modifiche alla tabella per lo user.jsp
*/
#user-table,
#phoneList,
#cart,
#catalogoFiltrato,
#userMods-table,
#pagamenti,
#indirizzi {
	background-color: white;
	color: black;
	margin: 2%;
}
#cart,
#catalogoFiltrato{
	opacity: 1;
	margin: 1%;
}
#dettagli-prodotto{
	opacity: 1;
}
/*
  classi di stile per bottoni vari.
  serve ad uniformare lo stile dei bottoni presenti nelle pagine
*/
.modern-button,
.add-InsertCards-link,
.add-AddIndirizzo-link {
  display: inline-block;
  border: none;
  background-color: off-white;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.modern-button:hover,
.add-InsertCards-link:hover,
.add-AddIndirizzo-link:hover {
  background-color: white;
}
/*
  stile per il tag a appartenente a questa classe.
  serve per dare al tag l'aspetto di un pulsante
*/
.modern-a,
.redbutton-a,
#filter-toggle {
  display: inline-block;
  border: none;
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 1%;
  transition: background-color 0.3s;
  text-decoration: none; /* Remove default link underline */
}
.modern-a{
  background-color: lightgray;
  color: black;
}
.modern-a:hover {
  background-color: offwhite;
}

.redbutton-a{
  background-color: red;
  color: white;
}
.redbutton-a:hover{
  background-color: darkred;
}
#cfbutton{
	background-color: lightgray;
}
#filters {
  display: none;
}
/*
	select styling
*/
select {
  appearance: none;
  padding: 10px 15px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

select:hover {
  background-color: #e6e6e6;
}

select:focus {
  outline: none;
  background-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form,
.registrationForm{
	background-color: white;
	color: black;
	border-radius: 25px;
	padding: 2%;
}
#login-form input,
#registration-form input,
#cards-form input{
	margin: 2%;
}

#cards-form{
	text-align: center;
	padding: 5%;
}

/*
	responsive layout
*/
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}